h1{
    font-weight: 400;
}
.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
i{
    color: $branco-normal;
}
.header-icons{
    display: flex;
    gap: 20px;
    font-size: 22px;
    padding: 50px 0 50px 0;
}
.header-icons a:hover{
    i{
        color: $azul-claro;
        animation: translateY 1s infinite alternate;
    }
}
@keyframes translateY{
    from{
        transform: translateY(0) scale(1);
    }
    to{
        transform: translateY(-8px) scale(1.1);
    }
}

.header-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-logo img{
    width: 80%;
    height: 80%;
    
}

.nav-list ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
    font-size:25px;
    padding-top: 50px;
}
.nav-item a{
    color: $branco-normal;
    text-decoration: none;
    font-weight: 300;  
}

.nav-item a:hover{
    color: $azul-claro;
}

@media screen and (max-width: 1010px){
    .header-content{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    i{
        margin-top: 10px;
        font-size: 34px;

    }
    .header-logo {
        font-size: 50px;
        img {
        width: 300px;
        margin-bottom: 20px;
        }
      }
      .nav-list ul{
        display: flex;
        text-align: center;
      }
      .nav-item a{
        font-size:25px;
        padding: 4px 50px;
    }
}
