---
// Componente FloatingButtons
---

<a
  href="https://api.whatsapp.com/send?phone=5554991535050&text=Ol%C3%A1!%20Gostaria%20de%20agendar%20uma%20consulta"
  class="button-whatsapp"
  target="_blank"
>
  <img
    src="/Imagens/WhatsApp_Logo_PNG_Sem_Fundo_Original_Transparente.png"
    alt="Botão WhatsApp"
  />
  <span class="span">Agende seu horário</span>
</a>
