---
// Componente Reviews
---

<div class="services slider">
  <h2 id="avaliações">Avaliação dos clientes</h2>
  <div class="slider-principal">
    <div>
      <img src="/Imagens/Avaliação1.jpeg" alt="Avaliação 1" />
    </div>
    <div>
      <img src="/Imagens/Avaliação2.jpeg" alt="Avaliação 2" />
    </div>
    <div>
      <img src="/Imagens/Avaliação3.jpeg" alt="Avaliação 3" />
    </div>
    <div>
      <img src="/Imagens/Avaliação4.jpeg" alt="Avaliação 4" />
    </div>
  </div>
</div>
