$primaria-normal: #06121e;
$primaria-escura: #040f1a;
$primaria-clara: #0c2135;

$secundaria-normal: #090d11;
$secundaria-escura: #06090c;
$secundaria-clara: #1a1f25;

$preto-normal: #232224;
$preto-escuro: #161617;
$preto-claro: #353436;

$branco-normal:#fff;
$branco-escuro:#edeaef;
$branco-claro:#fefbff;

$azul-normal:#1c568b;
$azul-escuro:#11395f;
$azul-claro:#367cbd;

